{% extends "AppBonos/base.html" %}

{% load static %}

{% block contenido %}

<div class="container" style="margin:10% 0 20% 5%">
    <h2 style="font-weight: bold; font-size: 40px">About</h2>
    <div class="container">
        Bienvenido al sitio desarrollado por <strong>Alejandro Lucas Gallo y Emiliano Scarfó</strong> para completar el
        curso de Python
        de CoderHouse.
        <br>
        <hr>
        En este sitio, podrás acceder a información relativa a diferentes títúlos públicos de renta fija, nominados
        tanto en dólares como en pesos ajustados por algunas variable (CER, tasa Badlar y tipo de cambio oficial) y que
        permiten financiar la deuda de una entidad pública o privada, obteniendo una renta fija durante un plazo de
        tiempo.
        <br><br>
        En el header de la barra de navegacion se presentan los siguientes accesos:
        <br>
        - Dólares: redirecciona a la sección de los títulos públicos nominados en la divisa estadounidense.
        <br>
        - Pesos (CER): redirecciona a la sección de los títulos públicos nominados en pesos y ajustados a la variación
        del CER.
        <br>
        - Pesos (BADLAR): redirecciona a la sección de los títulos públicos nominados en pesos y ajustados ala variación
        de la tasa Badlar.
        <br>
        - Dólar-Linked: redirecciona a la sección de los títulos públicos nominados en pesos y ajustados a la variación
        del tipo de cambio oficial.
        <br>
        - Búsqueda: redirecciona a la sección de búsqueda de títulos públicos por código de la especie.
        <br>
        - Blog: redirecciona al Blog donde se pueden crear, editar, borrar y ver mensajes de los diferentes usuarios.
        <br>
        <br>
        El proyecto fue realizado en equipo, interactuando permanentemente ambos alumnos para lograr el producto aquí
        presentado. Los estilos aplicados, a partir de una plantilla de Bootstrap y de ajustes ad-hoc en algunos
        detalles
        puntuales, estuvieron mayormente a cargo de Lucas (Alejandro) por su conocimiento previo de HTML y CSS adquiridos en el
        curso de Desarrollo Web de Coderhose. Mientras que los aspectos relacionados con Python y Djano fueron
        trabajados por ambos, siguiendo tanto los conceptos y las herramientas adquiridos en este curso como la consigna
        y las
        rúbricas del Proyecto Final.
        <br>
        <br>
        En algunos casos, cada uno se especializó en algunas tareas en particular, haciendo más eficiente el desarrollo
        del código y la funcionalidad de las aplicaciones. En general, se trabajó sincronizadamente y se utilizaron diversas herramientas para explotar al máximo los conocimientos que
        cada uno de nosotros ha adquirido hasta el momento.

        <br><br>
        <hr>
        <a href="https://github.com/lucasg78/GALLO_SCARFO_Python_ProyectoFinal"
            style="text-decoration: underline; color: blue;">Ir al repositorio en GitHub</a>

    </div>
</div>

{% endblock %}