{% extends "AppBonos/base.html" %}

{% load static %}

{% block contenido %}

<div class="container" style="margin:10% 0 20% 5%">
    <h2 style="font-weight: bold; font-size: 40px">About</h2>
    <div class="container">
        Bienvenidos al sitio desarrollado por Alejandro Lucas Gallo y Emiliano Scarfó para completar el curso de Python
        de CODERHOUSE.
        <br>
        En este sitio, podrán acceder a información relativa a diferentes títúlos públicos de renta fija.
        <br>
        En el header de la barra de navegacion se presentan las siguientes opciones:
        <br>
        - Dólares
        <br>
        - Pesos (CER)
        <br>
        - Pesos (BADLAR)
        <br>
        - Dólar-Linked
        <br>
        - Búsqueda
        <br>
        - Blog
        <br>
        <br>
        El proyecto fue realizado en equipo, interactuando permanentemente ambos alumnos para lograr el producto aquí presentado. 

        - Alejandro Lucas Gallo: ListView, Edit y Delete. Asimismo, participó intercambiando sugerencias y aportando ideas.

        - Emiliano Scarfó: creó la AppBlog, page About y ajustes menores en los Templates, Edición de Perfil, CRUD, Avatar, README. 
        
        Se trabajó sincronizadamente y se utilizaron diversas herramientas para explotar al máximo los conocimientos que cada uno de nosotros ha adquirido hasta el momento.

        <br><br>
        <a href="https://github.com/lucasg78/GALLO_SCARFO_Python_ProyectoFinal"
            style="text-decoration: underline; color: blue;">Ir al repositorio en GitHub</a>

    </div>
</div>

{% endblock %}