{% extends "AppBonos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="container px-5 my-5">
    <h2 class="display-4" >Artículos</h2>
    {% if articulos_encontrados %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Texto</th>
                <th scope="col">Fecha</th>
                <th scope="col">Detalle</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
            </tr>
            </thead>
            <tbody>
            {% for articulo in articulos_encontrados %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{articulo.nombre}}</td>
                    <td>{{articulo.texto}}</td>
                    <td>{{articulo.fecha}}</td>
                    <td> <a href="{% url 'ArticuloDetail' articulo.id %}">Ver</a> </td>
                    <td> <a href="{% url 'ArticuloUpdate' articulo.id %}">Editar</a> </td>
                    <td> <a href="{% url 'ArticuloDelete' articulo.id %}">Borrar</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron artículos cargados en la base de datos.</p>
    {% endif %}
    <p><a href="{% url 'form_articulos' %}"> Ingrese un nuevo artículo.</a></p>
</div>

{% endblock %}

