{% extends "AppBonos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="container" style="margin:8% 0 5% 5%; padding: 0 20% 0 20%;">
    <h2 style="font-weight: bold; font-size: 40px">Cargar Avatar</h2>
    <br>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid">
            <button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">Cargar</button>
        </div>
    </form>

</div>

{% endblock %}