{% extends "AppBonos/base.html" %}

{% load static %}

{% block contenido %}


<div class="container" style="margin:10% 0 5% 5%; padding: 0 20% 0 20%;">
    <h2 style="font-weight: bold; font-size: 40px">Buscar especie por código</h2>
    <!-- Search form -->
    <form action="/AppBonos/buscar/" method="GET">
        <div class="active-pink-3 active-pink-4 mb-4">
            <input class="form-control" name="codigo" id="codigo" type="text" placeholder="Ingrese el código"
                aria-label="Search">
            <br>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">Buscar</button>
            </div>
        </div>
    </form>

</div>

{% endblock %}