{% extends "AppBonos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="container px-5 my-5">
    
    <div class="card text-center">
        <div class="card-header">
         Datos del Cantante
        </div>
        <div class="card-body">
          <h5 class="card-title"><i>{{cantante.nombre}} {{cantante.apellido}}</i></h5>
          <p class="card-text">Fecha de Nacimiento: <i>{{cantante.fecha_nacimiento}}</i></p>
          <p class="card-text">Email de Contacto: <i> {{cantante.email}}</i></p>
          <a href="{% url 'cantantes' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>

{% endblock %}


                    
                    
                    

