{% extends "AppBonos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="container px-5 my-5">
    
    <div class="card text-center">
        <div class="card-header">
         Datos del Concierto
        </div>
        <div class="card-body">
          <h5 class="card-title"><i>{{concierto.nombre}}</i></h5>
          <p class="card-text">Lugar: <i>{{concierto.lugar}}</i></p>
          <p class="card-text">Fecha del Concierto: <i> {{concierto.fecha_de_concierto}}</i></p>
          <a href="{% url 'conciertos' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>

{% endblock %}


                   
                  


