{% extends "AppBonos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="container" style="margin:7% 0 5% 5%; padding: 0 20% 0 20%;">
    
    <div class="card text-center">
        <div class="card-header">
         Detalle de la especie
        </div>
        <div class="card-body">
          <h5 class="card-title">{{dolar.codigo}}</h5><hr>
          <p class="card-text">Denominación: <br>{{dolar.denominacion}}</p><hr>
          <p class="card-text">Emisor: {{dolar.emisor}}</p><hr>
          <p class="card-text">Fecha de emisión: {{dolar.fecha_emision}}</p><hr>
          <p class="card-text">Fecha de vencimiento: {{dolar.fecha_vencimiento}}</p><hr>
          <p class="card-text">Amortización:<br>{{dolar.amortizacion}}</p><hr>
          <p class="card-text">Interés:<br>{{dolar.interes}}</i></p><hr>
          <p class="card-text">Ley: <i> {{dolar.ley}}</i></p><hr>
          <a href="{% url 'dolares' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>

{% endblock %}

                    

