{% extends "AppBonos/base.html" %}

{% load static %}

{% block contenido %}

<div class="container" style="margin:11% 0 10% 5%; padding: 0 20% 0 20%;">
    <h2 style="font-weight: bold; font-size: 40px">Editar perfil</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">Actualizar</button>
        </div>
    </form>

</div>

{% endblock %}