{% extends "AppBonos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><a href="{% url 'form_cantantes' %}"><img class="img-fluid rounded-circle" src="{% static 'AppBlog/assets/img/01.jpg' %}" alt="..."/></a></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Formulario Cantantes...</h2>
                    <p>En esta sección Ud. podrá ingresar cantantes. <a href="{% url 'form_cantantes' %}"> Click aquí.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><a href="{% url 'form_conciertos' %}"></a><img class="img-fluid rounded-circle" src="{% static 'AppBlog/assets/img/02.jpg' %}" alt="..." /></a></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Formulario Conciertos...</h2>
                    <p>En esta sección Ud. podrá ingresar Conciertos. <a href="{% url 'form_conciertos' %}"> Click aquí.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><a href="{% url 'form_albums' %}"><img class="img-fluid rounded-circle" src="{% static 'AppBlog/assets/img/03.jpg' %}" alt="..." /></a></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Formularios Albums</h2>
                    <p>En esta sección Ud. podrá ingresar Albums. <a href="{% url 'form_albums' %}"> Click aquí.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 4-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><a href="{% url 'form_articulos' %}"></a><img class="img-fluid rounded-circle" src="{% static 'AppBlog/assets/img/04.jpg' %}" alt="..." /></a></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Formulario Artículos...</h2>
                    <p>En esta sección Ud. podrá ingresar Artículos. <a href="{% url 'form_articulos' %}"> Click aquí.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}