{% extends "AppBonos/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="container px-5 my-5">
    <h2 class="display-4" >Ingrese Album</h2>
    <br>
    <form action="/AppBlog/form_albums/" method="POST"> {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="nombreAlbum">Nombre Album:</label>
            <input class="form-control" name="nombreAlbum" type="text" placeholder="Nombre Album:" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="nombreAlbum:required">Nombre Album: is required.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="cantidadDeTemas">Cantidad de Temas:</label>
            <input class="form-control" name="cantidadDeTemas" type="number" placeholder="Cantidad de Temas:" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="cantidadDeTemas:required">Cantidad de Temas: is required.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="fechaDeLanzamiento">Fecha de Lanzamiento:</label>
            <input class="form-control" name="fechaDeLanzamiento" type="date" placeholder="Fecha de Lanzamiento:" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="fechaDeLanzamiento:required">Fecha de Lanzamiento: is required.</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">Guardar</button>
        </div>
    </form>
</div>

{% endblock %}

    


