{% extends "AppBonos/base.html" %}

{% load static %}

{% block contenido %}

<header class="masthead-dolar">
    <div class="container" style="margin:11% 0 5% 5%; width: 80%;">
        <h2 style="font-weight: bold; font-size: 40px;">Títulos en pesos ajustados al tipo de cambio</h2>
        <div style="background-color:rgb(227, 224, 220); border-radius: 5px; padding: 10px; text-align:start;">
            <h3 style="font-weight: normal; font-size: 16px; padding-left: 10px; margin-bottom: 0;">Son títulos públicos
                que se pagan en pesos, pero vinculados a la tasa de cambio oficial del dólar desde la emisión hasta la
                fecha de pago. Son utilizados especialmente por quienes buscan poder proteger sus ahorros de una posible devaluación, por lo que se convirtieron en instrumentos <strong> 
                    ideales para cubrirse ante un salto en el tipo de cambio.</strong></h3>
        </div>
        <hr>

        {% if pesosdl_encontrados %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Denominación</th>
                    <th scope="col">Emisor</th>
                    <th scope="col">Fecha de vencimiento</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                {% for pesosdl in pesosdl_encontrados %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{pesosdl.codigo}}</td>
                    <td>{{pesosdl.denominacion}}</td>
                    <td>{{pesosdl.emisor}}</td>
                    <td>{{pesosdl.fecha_vencimiento}}</td>
                    <td> <a href="{% url 'PesodlDetail' pesosdl.id %}" style="text-decoration: none; color:blue">Ver</a>
                    </td>
                    <td> <a href="{% url 'PesodlUpdate' pesosdl.id %}"
                            style="text-decoration: none; color:blue">Editar</a> </td>
                    <td> <a href="{% url 'PesodlDelete' pesosdl.id %}"
                            style="text-decoration: none; color:blue">Borrar</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No se encontraron especies cargadas en la base de datos.</p>
        {% endif %}
        <p><a href="{% url 'form_pesosdl' %}" style="text-decoration: none; color:blue"> Ingrese una nueva especie</a>
        </p>
    </div>
</header>

{% endblock %}