{% extends "AppBonos/base.html" %}

{% load static %}

{% block contenido %}

<div class="container" style="margin:8% 0 15% 5%; padding: 0 20% 0 20%; width: auto;">
    <h2 style="font-weight: bold; font-size: 40px">Registre usuario y contraseña</h2>
    <br>
    <form action="" method="POST" style="width: 400px;"> 
        {% csrf_token %}
        {{form.as_p}}
        <div class="d-grid">
            <button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">Registrarse</button>
        </div>
    </form>
</div>

{% endblock %}

    


