{% extends "AppBonos/base.html" %}

{% load static %}

{% block contenido %}

<div class="container" style="margin:11% 0 10% 5%; padding: 0 20% 0 20%;">
    <h2 style="font-weight: bold; font-size: 40px; margin-bottom: 0;">Resultados de la búsqueda</h2>
    <hr>
    <h2 style="font-weight: lighter; font-size: 25px; margin-top: 0;">Código de la especie: <strong>{{ codigo }}</strong></h2>

    {% if especies_encontrados %}

    <table class="table table-hover" style="margin-top: 5%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Código</th>
                <th scope="col">Denominación</th>
                <th scope="col">Emisor</th>
                <th scope="col">Fecha de vencimiento</th>
            </tr>
        </thead>
        <tbody>
            {% for especie in especies_encontrados %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{especie.codigo}}</td>
                <td>{{especie.denominacion}}</td>
                <td>{{especie.emisor}}</td>
                <td>{{especie.fecha_vencimiento}}</td>               
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="margin-top: 5%"><a href="{% url 'busqueda' %}" style="text-decoration: none; color:blue; "> Buscar otra especie</a></p>
    {% else %}
    <p>No se encontraron especies con ese código</p>
    <p style="margin-top: 5%"><a href="{% url 'busqueda' %}" style="text-decoration: none; color:blue; "> Buscar otra especie</a></p>
    {% endif %}

</div>

{% endblock %}