{% extends "AppBlog/base.html" %}

{% load static %}

{% block contenido %}

<header class="masthead-dolar">
    <div class="container" style="margin-top: 11%; padding-left: 100px; padding-right: 200px;">
        <h2 style="font-weight: bold; font-size: 40px">Mensajes</h2>

        {% if mensajes_encontrados %}
        <ul style="background-color: rgb(229, 227, 227); border-radius: 5px;margin-top: 20px; padding-top: 20px; padding-bottom: 20px; padding-right: 20px;">
            {% for mensajes in mensajes_encontrados %}
            <li style="list-style-type: none;"><strong>Fecha:</strong> {{mensajes.fecha}}</li>
            <li style="list-style-type: none;"><strong>Nombre:</strong> {{mensajes.nombre}}</li>
            <li style="list-style-type: none;"><strong>E-mail:</strong> {{mensajes.email}}</li>
            <li style="list-style-type: none;"><strong>Mensaje:</strong> {{mensajes.mensaje}}</li>
            <div style="margin: 10px 0 20px 0;">
                <a href="{% url 'MensajeDetail' mensajes.id %}"
                    style="text-decoration: none; color:blue">Ver&nbsp&nbsp&nbsp&nbsp</a>
                <a href="{% url 'MensajeUpdate' mensajes.id %}"
                    style="text-decoration: none; color:blue">Editar&nbsp&nbsp&nbsp&nbsp</a>
                <a href="{% url 'MensajeDelete' mensajes.id %}" style="text-decoration: none; color:blue">Borrar</a>
            </div>
            <hr>
            {% endfor %}
        </ul>

        {% else %}
        <p>No se encontraron mensajes cargados en la base de datos.</p>
        {% endif %}
        <p><a href="{% url 'form_mensajes' %}" style="text-decoration: none; color:blue; margin-top: 10px;"> Ingrese un
                mensaje</a>
        </p>
    </div>
</header>

{% endblock %}